html, button, input, select, textarea, .pure-g [class *= "pure-u"]
{
    font-family: english, sans-serif;
    font-weight: 400;
    font-style: normal;
}

header
{
    height: 140px;
}

header .branding
{
    font-family: voluta-script-pro, serif;
    font-size: 72pt;
    text-align: center;
}

header .branding a, header .branding a:hover, header .branding a:visited
{
    text-decoration: none;
}

a, a:hover, a:visited
{
    color: black;
}


body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.main-nav
{
    display: inline-block;
    text-align: center;
}

.main-content, footer
{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.main-content
{
    flex: 1;
}

footer
{
    max-height: 8em;
}

.chapter-content, .chapter-content + footer
{
    margin-left: 400px;
}

.toc-menu
{
    /*
    position: fixed;
    top: 140px;
    display: inline-block;
    max-width: 400px;
    */

    position: absolute;
    top: 140px;
    display: block;
    max-width: 380px; /* a little narrower, so there's some margin */
    word-wrap: break-word;
    text-overflow: ellipsis;
}


/***
 * And here's where I started fucking up your CSS.
 ***/

/* Class for all the various asides.
 * It lays them out as right-floats.
 *
 * ... also I didn't know that there was an aside element!
 * kinda cool!
 * but I can't use that directly here because the nav is also an aside.
 */
aside:not(.toc-menu)
{
    /*
    width: 50%;
    text-align: left;
    float: right;
    */
    margin: 2em;
    padding: 1em;
    border: 3px dotted #101020;
}

aside:not(.toc-menu).insert
{
    margin: 0.5em;
    padding: 0.5em;
}

.example
{
    background-color: #f3d2f3;
}

.clarification
{
    background-color: #c6c6f5;
}

.gmguidance
{
    background-color: #ceecce;
}

.playerguidance
{
    background-color: #8a8aa1;
}

.designnote
{
    background-color: rgb(252, 216, 176);
}

/* Class for fiction blocks.
 * The idea is that they're centered, less than page width, and have top and bottom borders.
 */
.fiction
{
    width: 90%;
    margin: 20px auto;
    border-color: black;
    border-width: 5px;
    border-style: solid none;
}

/* Styling tables.
 */
table:not(.toc-menu)
{
    margin: 5px;
    /*border: 2px dotted #101020;*/
    /*border-collapse: collapse;*/
    border: 5px solid transparent;
    border-image-source: url(/static/border-image.png);
    border-image-slice: 20%;
    border-image-width: 10px;
    border-image-repeat: stretch;
}

td
{
    padding: 6px;
    border: 1px dotted #101020;
}

/* that table style doesn't quite work, parts of it get overridden from somewhere.
 * (specifically from .pure-table.)
 * But I kind of like the effect the broken CSS produced, with just the cell border, along just the top but not the sides or bottom.
 * Hmm.
 */

/* Internal link prettification: */
.header-link:hover {
    text-decoration: underline;
}

.header-link {
    text-decoration: none;
}

.header-link:before {
    content: "🔗 ";
    font-size: 0.6em;
}


*:focus {
    border: 1px red;
}

*:focus-within {
    border: 1px green;
}


.main-nav {
    display: none;
}

header .branding {
    display: inline-block;
}

:not(nav) > ul.dropdown-menu-list {
    margin-left: 100px;
}

/**
    The CSS for the menuitems
*/
/* The parent list should not be too too wide */
.dropdown-menu-list li {
    position: relative;
}

.dropdown-menu-list {
    max-width: 200px;
}

.dropdown-menu-list>li ul:focus,
.dropdown-menu-list>li ul:hover,
.dropdown-menu-list li:hover>ul,
.dropdown-menu-list>li ul:focus-within {
    opacity: 1;
     /* Fix hover states not working properly thanks to mouse hover being sporadic */
    z-index: 1;
    border-radius: 5px;
    outline: none;
    box-shadow: -5px 2px 20px rgba(0, 0, 0, 0.19), 5px 7px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-menu-list>li ul {
    position: absolute;
    left: calc(100% + 5px);
    top: 0;
    opacity: 0;
    width: 150px;
    background: white;
    margin: 0;
    padding: 0;
    list-style: none;
}


/* This should fix the UL hiding when the mouse is in the 5px gap */
.dropdown-menu-list>li ul::after {
    content: ' ';
    position: absolute;
    left: -5px;
    width: 5px;
    height: 100%;
    top: 0;
    display: block;
}

 /* Ensure that if there is a child that it does not overflow on the arrow icon */
[data-haschildren="true"] {
    padding-right: 25px;
}

 /* Add an arrow icon when there needs to be one */
[data-haschildren="true"]::after {
    content: "➡";
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    text-align: center;
    transform: translateY(-50%);
}