a, a:hover, a:visited
{
    color: black;
}

/*article aside*/
/* I may not have realized that the whole page was wrapped in an <article> when I set this CSS.
 */
aside
{
    margin: 0.5em;
    padding: 0.25em;
    border: 3px dotted #101020;
}

.standout
{
    margin: 0.5em;
    padding: 0.25em;
    border: 3px dotted #101020;
}

.floating
{
    width: 300px;
    float: right;
}

.example
{
    background-color: #f3d2f3;
}

.clarification
{
    background-color: #c6c6f5;
}

.gmguidance
{
    background-color: #ceecce;
}

.playerguidance
{
    background-color: #8a8aa1;
}

.designnote
{
    background-color: rgb(252, 216, 176);
}

.optional
{
    background-color: rgb(210, 210, 210);
}

.hook
{
    background-color: rgb(207, 204, 200);
}

.short
{
    background-color: transparent;
}

/* Class for fiction blocks.
 * The idea is that they're centered, less than page width, and have top and bottom borders.
 */
.fiction
{
    width: 90%;
    margin: 20px auto;
    border-color: black;
    border-width: 3px;
    border-style: solid none;
}

table, th, td
{
    border: 2px dotted #101020;
    border-collapse: collapse;
    padding: 0.25em;
}

/* table { margin-left: auto; margin-right: auto; } */
th { border-bottom-style: double; }

h1 { font-size: 3.25rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.5rem; }

.custom-block-heading
{
    font-size: 1.25rem;
    font-weight: bold;
}