{% extends "layout.html" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}
    <nav class="toc-menu pure-menu">
        <ul class="pure-menu-list">
            {% for entry in toc recursive %}
                <li class="pure-menu-item {% if entry.children %}pure-menu-has-children pure-menu-allow-hover{% endif %}">
                    <a class="pure-menu-link" href="../{{ entry.route }}{{ entry.anchor }}">{{ entry.title }}</a>
                    {% if entry.children %}
                        <ul class="pure-menu-children">
                            {{ loop(entry.children) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <article class="main-content chapter-content">
        <h1>{{ chapter.title }}</h1>

        {{ chapter.content | safe }}
    </article>
{% endblock %}
