{% extends "layout.html" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}
    <nav class="toc-menu pure-menu">
        <ul class="dropdown-menu-list" tabindex="0">
            {% for entry in toc recursive %}
                <li class="menu-item"{% if entry.children %}data-haschildren="true"{% endif %} tabindex="0">
                    <a class="menu-link" href="../{{ entry.route }}{{ entry.anchor }}">{{ entry.title }}</a>
                    {% if entry.children %}
                        <ul class="dropdown-menu-list">
                            {{ loop(entry.children) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
    <article class="main-content chapter-content">
        <h1>{{ chapter.title }}</h1>

        {{ chapter.content | safe }}
    </article>
{% endblock %}
